@model code.Models.Hour
@{
	List<Hour> data = (List<Hour>) ViewData ["Hour"];
}


<!-- Create title and hidden table -->
<h2>@ViewData["Title"]</h2>

<table class="table" id="hour" style="display: none">
	@{
		foreach (var dat in data)
		{
			<tr>
				<td>@dat.year</td>
				<td>@dat.season</td>
				<td>@dat.time</td>
			</tr>
		}
	}
</table>

<div id="charts" style="width: 95%; height: 400px; display: inline-block">
	<div class="dropdown" style="display: inline-block">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Select year
			<span class="caret"></span>
		</button>
		<ul id="left-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
			@{
				string lastYear = "";
				foreach (var dat in data)
				{
					if (dat.year != lastYear) {
						<li onclick="ChangeChartYear(@dat.year, 'left')"><a>@dat.year</a></li>

						lastYear = dat.year;
					}
				}
			}
		</ul>
	</div>
	<div class="dropdown" style="display: inline-block">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Select year
			<span class="caret"></span>
		</button>
		<ul id="right-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
			@{
				lastYear = "";
				foreach (var dat in data)
				{
					if (dat.year != lastYear) {
						<li onclick="ChangeChartYear(@dat.year, 'right')"><a>@dat.year</a></li>

						lastYear = dat.year;
					}
				}
			}
		</ul>
	</div>
	<div id="chart"></div>
</div>


<script>

    var chart;

    var left_data = [];
    var right_data = [];

    var data = [];

    // Functions
    function ChangeChartYear (year, dropdown) {
        var i = 0;
		document.getElementById("dropdownMenu-" + dropdown).innerHTML = year;

        data.forEach(element => {
            if (element.year == year) {
				if (element.label == "winter") {
					element.x = 0;
                	window[dropdown + "_data"][0] = element;					
				} else if (element.label == "lente") {
					element.x = 1;
                	window[dropdown + "_data"][1] = element;					
				} else if (element.label == "zomer") {
					element.x = 2;
                	window[dropdown + "_data"][2] = element;					
				} else if (element.label == "herfst") {
					element.x = 3;
                	window[dropdown + "_data"][3] = element;					
				}
                i++;
            }
        });

		var pos = 0;
		if (dropdown == "right") {
			pos = 1;
		}

        chart.options.data[pos].dataPoints = window[dropdown + "_data"];
		chart.render();
    }

	window.onload = function () {

		
    // Data collection from table
    table = document.getElementById ("hour");
    for (var i = 0; i < table.rows.length; i++) {
        rowData = [];

        var cellLength = table.rows.item(i).cells.length;
        for (var j = 0; j < cellLength; j++) {
            rowData [j] = table.rows.item(i).cells.item(j).innerHTML;
        }

        data [i] = {year: rowData[0], label: rowData[1], y: parseInt(rowData[2])};
    }

    // Create charts
    chart = new CanvasJS.Chart("chart", {
        theme: "theme2",
        animationEnabled: true,
        height: 400,
        data: [
            {
                type: "column",
				dataPoints: data
            },
			{
                type: "column",
				dataPoints: data
            }
        ]
    });
	
	ChangeChartYear ("2017", "left");
	ChangeChartYear ("2016", "right");	
};
</script>